@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
  margin-right: 10px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #ccc;
}
input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.switch-container > p {
  font-size: 2em;
}
#final-result {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 80vh;
}
#final-result > h1 {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 4em;
}
nav > ul {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
nav > ul > li {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: black;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
}
nav > ul > li:hover {
  text-decoration: underline;
}
#random-colour-button {
  text-decoration: underline;
}
#colour-selector-main {
  text-align: center;
  height: 80vh;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.footer > span {
  padding: 10px;
  padding-left: 200px;
  padding-right: 200px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#loader-box {
  position: absolute;
  top: 0;
  background-color: rgba(255,255,255);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  z-index: 999999;
}
#loader-container {
  text-align: center;
}